<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Список пользователей</title>
  <meta charset="UTF-8">
</head>
<body>
<h1>Список пользователей</h1>
<a th:href="@{/users/add}">Добавить нового пользователя</a>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Действия</th>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.surname}"></td>
    <td>
      <a th:href="@{'/users/edit'(id=${user.id})}">Редактировать</a>
      <form th:action="@{/users/delete}" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${user.id}"/>
        <button type="submit">Удалить</button>
      </form>
    </td>
  </tr>
</table>
</body>
</html>